<div class="p-5">
  Hellow world
</div>

<div>Block</div>
<div>Block</div>
<div>Block</div>
<div>Block</div>
<div>Block</div>
<div>Block</div>

<span>Inline</span>
<span>Inline</span>
<span>Inline</span>